@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Inter", sans-serif;
  --font-mono: "Inter", sans-serif;
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
}

:root {
  --radius: 0.5rem;

  --background: #ffffff;
  --background-rgb: 255, 255, 255;
  --foreground: #000000;
  --foreground-rgb: 0, 0, 0;
  --card: #f3f3f;
  --card-rgb: 243, 244, 246;
  --card-foreground: #000000;
  --card-foreground-rgb: 0, 0, 0;
  --primary: #2563eb;
  --primary-rgb: 37, 99, 235;
  --primary-foreground: #ffffff;
  --primary-foreground-rgb: 255, 255, 255;
  --secondary: #ffffff;
  --secondary-rgb: 155, 44, 44;
  --secondary-foreground: #2563eb;
  --secondary-foreground-rgb: 255, 255, 255;
  --accent: #2563eb;
  --accent-rgb: 124, 28, 28;
  --muted: #f7f7f7;
  --muted-rgb: 247, 247, 247;
  --muted-foreground: #4b5563;
  --muted-foreground-rgb: 75, 85, 99;
  --border: #2563eb;
  --border-rgb: 229, 231, 235;
  --input: #e5e7eb;
  --input-rgb: 229, 231, 235;
  --ring: #2563eb;
  --ring-rgb: 155, 44, 44;
}

.dark {
  --background: #1a1a1a;
  --background-rgb: 26, 26, 26;
  --foreground: #ffffff;
  --foreground-rgb: 255, 255, 255;
  --card: #2d2d2d;
  --card-rgb: 45, 45, 45;
  --card-foreground: #ffffff;
  --card-foreground-rgb: 255, 255, 255;
  --primary: #2563eb;
  --primary-rgb: 37, 99, 235;
  --primary-foreground: #ffffff;
  --primary-foreground-rgb: 255, 255, 255;
  --secondary: #2563eb;
  --secondary-rgb: 155, 44, 44;
  --secondary-foreground: #ffffff;
  --secondary-foreground-rgb: 255, 255, 255;
  --accent: #2563eb;
  --accent-rgb: 124, 28, 28;
  --muted: #2d2d2d;
  --muted-rgb: 45, 45, 45;
  --muted-foreground: #b0b0b0;
  --muted-foreground-rgb: 176, 176, 176;
  --border: #4b4b4b;
  --border-rgb: 75, 75, 75;
  --input: #4b4b4b;
  --input-rgb: 75, 75, 75;
  --ring: #2563eb;
  --ring-rgb: 155, 44, 44;
}
